<h2><%= @verse.title %></h2>
<p><%= @verse.content %></p>
<p>Creation Date: <%= @verse.created_at %></p>
<a href="/verse/<%= @verse.id %>" name="_method" value="delete">Delete Your Note</a>

<h2>Edit Your Note</h2>
<form method="post" action="/verse/<%= @verse.id %>"> 
    <input type="hidden" name="_method" value="patch">
    <input type="text" name="title" value="<%= @verse.title %>">
    <input type="text" name="body" value="<%= @verse.body %>">
    <button type="submit">Update Note</button>
</form>